#event_header
  #event_description.left
    %h1
      = h(@event.name)
      %span.context
        = "(<a href='#{event_url(@event)}' />permalink</a>)"
      - if @event.user == current_user
        %span.context
          %a{:href => event_url(@event, '/edit')} edit
    - if @event.description.blank?
      %p no description for this event
    - else
      %p= h(@event.description)
  #calendar.left
    %h1= @event.localtime.strftime('%A')
    .month_day= "#{@event.localtime.strftime('%b')} #{number_to_ordinal(@event.localtime.day)}"
    %h2{:title => @event.user.time_zone}= "#{@event.localtime.strftime('%l:%M %p')}"
  .clear
%h2 
  = "at #{h(@event.place)}"
  - unless @event.google_map_link.nil?
    %span.context
      %a{:href => @event.google_map_link, :target => '_none' }= h(@event.address.gsub(/\d{5}, USA$/, ''))

- unless @event.longitude.blank? || @event.latitude.blank?
  #map
    %script{:type => 'text/javascript'}
      = 'var map = new GMap2(document.getElementById("map"));'
      = "map.setCenter(new GLatLng(#{@event.latitude}, #{@event.longitude}), 15);"
      = "var point = new GLatLng(#{@event.latitude}, #{@event.longitude});"
      = "var icon = build_icon();"
      = "var html = \"<div class='map_info'><h2>It's time to party!</h2><a href='#{@event.google_map_link}' target='_blank'>Get Directions</a></div>\";"
      = "var title = \"#{h(@event.name)}\";"
      = "var marker = createMarker(point, html, icon, title);"
      = "map.addOverlay(marker);"
      = "map.setUIToDefault();"
- else
  #map.empty

#events
  - unless @current_attendee.nil?
    #confirmation_forms
      - case @current_attendee.status
        -  when TwitRSVP::Attendee::CONFIRMED
          .message.accept
            %h2.green
              Accepted:
            = "We can't wait to see you there!"
            %a.negative.should_post{:href => event_url(@event, '/decline') } Changed your mind?
        -  when TwitRSVP::Attendee::DECLINED
          .message.decline
            %h2.orange
              Declined:
            = "We're bummed you can't make it!"
            %a.positive.should_post{:href => event_url(@event, '/confirm') } Changed your mind?
        - else
          %form.left{:action => event_url(@event, '/confirm'), :method => 'POST'}
            %input.submit{:type => 'submit', :value => "I'm going!"}
          %form{:action => event_url(@event, '/decline'), :method => 'POST'}
            %input.unsubmit{:type => 'submit', :value => "No thanks."}
  - if current_user && @event.authorized?(current_user)
    #left_events.left
      #going
        %h1 Going:
        - if @event.confirmed.any?
          = @event.confirmed.map { |attendee| "<a class='positive' href='#{attendee.user.url}'>#{attendee.user.name}</a>" }.join(', ')
        - else
          No One
      #not_going
        %h1 Not Going:
        - if @event.declined.any?
          = @event.declined.map { |attendee| "<a class='negative' href='#{attendee.user.url}'>#{attendee.user.name}</a>" }.join(', ')
        - else
          No One
    #right_events.left
      %h1 Not Yet Responded:
      - if @event.invited.any?
        = @event.invited.map { |attendee| "<a class='positive' href='#{attendee.user.url}'>#{attendee.user.name}</a>" }.join(', ')
      - else
        No One
    .clear
#rounded_footer
