#pending
  %h1.pending_header Pending
  - if @pending_events.nil? || @pending_events.empty?
    %div.pending_event
      %h3 None at this time
  - else
    - @pending_events.each do |event|
      .pending_event
        .left.event_detail
          %h3
            %a{:href => event_url(event)}= event.name
          %p.context
            = event.localtime.strftime('%a %b %e @ %l:%M %P')
            %br
            = event.place
        .right.event_action
          %a.positive.should_post{:href => event_url(event, "/confirm")} accept
          %a.negative.should_post{:href => event_url(event, "/decline")} decline
        %div.clear

#events
  #left_events.left
    %h1 Your Events:
    - if @organized_events.nil? || @organized_events.empty?
      %div.your_event.left
        %h3 None at this time
        %div.clear
    - else
      - @organized_events.each do |event|
        .your_event.left
          %h3
            %a.event{:href => event_url(event)}= event.name
          %p.context
            = event.localtime.strftime('%a %b %e @ %l:%M %P')
            %br
            = event.place
        %div.left.event_action
          %a.negative{:href => event_url(event, '/edit')} edit
        %div.clear

  #right_events.left
    %h1 Going To:
    - if @confirmed_events.nil? || @confirmed_events.empty?
      %div.going_to.left
      %h3 None at this time
      %div.clear
    - else
      - @confirmed_events.each do |event|
        .attending_event.left
          %h3
            %a.event{:href => event_url(event)}= event.name
          %p.context
            = event.localtime.strftime('%a %b %e @ %l:%M %P')
            %br
            = event.place
        %div.right.event_action
          %a.negative.should_post{:href => "/events/#{event.id}/decline"} decline
        %div.clear
  %div.clear
