%h1.fancy Pending
%ul.pending
  - if @pending_events.nil? || @pending_events.empty?
    %li None at this time
  - else
    - @pending_events.each do |event|
      %li
        %a{:href => event_url(event) }= event.description
        .meta= event.start_at.strftime('%b %m -> %H:%M')

%h1.fancy Accepted
%ul.accepted
  - if @confirmed_events.nil? || @confirmed_events.empty?
    %li None at this time
  - else
    - @confirmed_events.each do |event|
      %li
        %a{:href => event_url(event) }= event.description
        .meta= event.start_at.strftime('%b %d -> %H:%M')

%h1.fancy Declined
%ul.declined
  - if @declined_events.nil? || @declined_events.empty?
    %li None at this time
  - else
    - @declined_events.each do |event|
      %li
        %a{:href => event_url(event) }= event.description
        .meta= event.start_at.strftime('%b %m -> %H:%M')
